html, body {
  height: 100%;
  font: 1em/1.4; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
  position: relative; }

/* sticky footer _____________________________________________________________*/
.push {
  height: 240px; }

.b-footer-container {
  min-width: 1200px;
  margin: 0 auto;
  height: 240px;
  margin-top: 0px; }

.b-footer {
  width: 1000px;
  margin: 0 auto;
  height: 100%; }

/* clear _____________________________________________________________________*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* hide links _____________________________________________________________________*/
.text-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.logo-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

/*breadcrumbs list_________________________________________________________________*/
.b-breadcrumbs {
  margin-bottom: 21px;
  position: relative; }

.b-breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left; }

.b-breadcrumbs__list-item {
  display: inline-block; }

.b-breadcrumbs__list-item:before {
  content: ">";
  font-family: "elektra_light_proregular";
  font-size: 14px;
  color: #5c7b98; }

.b-breadcrumbs__list-item:first-child:before {
  display: none; }

.b-breadcrumbs__list-item-link {
  font-family: "elektra_light_proregular";
  font-size: 14px;
  color: #00b9fe; }

.b-breadcrumbs__list-item-link:hover {
  text-decoration: none; }

.b-breadcrumbs__list-item-link.active {
  font-family: "elektra_light_proregular";
  font-size: 14px;
  color: #5c7b98;
  text-decoration: none; }

/* pager _____________________________________________________________*/
.b-pager {
  float: right; }

.b-pager__list {
  float: right;
  margin: 0;
  margin-left: 22px;
  padding: 0;
  list-style: none; }

.b-pager__list-item {
  display: inline-block;
  margin-left: 5px; }

.b-pager__list-item-link {
  font-family: "elektra_light_proregular";
  font-size: 15px;
  color: #00b9fe; }

.b-pager__list-item-link.active {
  text-decoration: none;
  color: #5c7b98; }

.b-pager__list-item-link:hover {
  text-decoration: none; }

.b-pager__form {
  position: absolute;
  left: 720px;
  top: 0; }

.b-page__form-select-wrapper {
  display: inline-block;
  width: 132px; }

.b-page__form-select-data {
  width: 125px;
  background-image: url("../img/b-down.png");
  background-repeat: no-repeat;
  background-position: 105px 0px;
  border: 1px solid #dae1eb;
  font-family: "elektra_light_proregular";
  font-size: 15px;
  color: #5c7b98;
  padding-left: 5px;
  padding-top: 6px;
  cursor: pointer; }

.b-pager__form-select {
  font-family: "elektra_light_proregular";
  background: #fff;
  font-size: 15px;
  color: #5c7b98;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #dae1eb;
  display: none; }

.b-pager__form-select-item {
  display: block;
  height: 24px;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 4px;
  margin-bottom: 0px;
  cursor: pointer; }

.b-pager__form-select-item:hover {
  color: #dae1eb; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 4, 2015 */
@font-face {
  font-family: 'elektra_light_proregular';
  src: url("../font/elektra_light_pro-webfont.eot");
  src: url("../font/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../font/elektra_light_pro-webfont.woff2") format("woff2"), url("../font/elektra_light_pro-webfont.woff") format("woff"), url("../font/elektra_light_pro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proitalic';
  src: url("../font/elektra_medium_pro_italic-webfont.eot");
  src: url("../font/elektra_medium_pro_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/elektra_medium_pro_italic-webfont.woff2") format("woff2"), url("../font/elektra_medium_pro_italic-webfont.woff") format("woff"), url("../font/elektra_medium_pro_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proregular';
  src: url("../font/elektra_medium_pro-webfont.eot");
  src: url("../font/elektra_medium_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../font/elektra_medium_pro-webfont.woff2") format("woff2"), url("../font/elektra_medium_pro-webfont.woff") format("woff"), url("../font/elektra_medium_pro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_light_probold';
  src: url("../font/font-webfont.eot");
  src: url("../font/font-webfont.eot?#iefix") format("embedded-opentype"), url("../font/font-webfont.woff2") format("woff2"), url("../font/font-webfont.woff") format("woff"), url("../font/font-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* header _____________________________________________________________________________*/
.b-header-container {
  min-width: 1200px;
  margin: 0 auto;
  /* min-height: 120px;*/
  background: #d9e4f0; }

.b-header {
  background: #d9e4f0;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Q5ZTRmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YwZjRmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2YwZjRmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWU0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #d9e4f0 1%, #f0f4f9 50%, #f0f4f9 53%, #d9e4ef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4f0', endColorstr='#d9e4ef',GradientType=1 );
  /* IE6-8 */
  width: 1000px;
  margin: 0 auto;
  /*height: 120px;*/
  margin-bottom: 38px; }

.b-header-content {
  position: relative;
  height: 120px; }

.b-logo {
  top: 25px;
  left: 0;
  position: absolute; }

.b-contacts {
  position: absolute;
  top: 25px;
  left: 805px; }

/* header menu _____________________________________________________________________*/
.b-header-menu {
  position: absolute;
  left: 12px;
  top: 98px; }

.b-header-menu__items {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-header-menu__item {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  height: 38px; }

.b-header-menu__link {
  font-family: "elektra_light_proregular";
  font-size: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 12px;
  padding-right: 11px;
  color: #a5b3c1;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3; }

.b-header-menu__link:after {
  content: "";
  display: block;
  width: 24px;
  background: url("../img/aft.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 100%;
  height: 42px; }

.b-header-menu__link:before {
  content: "";
  display: block;
  width: 24px;
  background: url("../img/prev.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: -15px;
  height: 41px; }

/* hover ______________________*/
.b-header-menu__link:hover {
  background-color: #dce6f0; }

.b-header-menu__link:hover:before {
  background: url("../img/prev-h.png");
  background-repeat: no-repeat; }

.b-header-menu__link:hover:after {
  background: url("../img/aft-h.png");
  background-repeat: no-repeat; }

/* active ______________________*/
.b-header-menu__link.active {
  background-color: #00b9fe;
  color: #fff; }

.b-header-menu__link.active:before {
  background: url("../img/prev-aa.png");
  background-repeat: no-repeat; }

.b-header-menu__link.active:after {
  background: url("../img/aft-a.png");
  background-repeat: no-repeat; }

/* contacts _______________________________________________________________________________________*/
.b-contacts {
  position: absolute;
  top: 23px;
  left: 810px; }

.b-contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-contacts__item-link {
  text-decoration: none;
  font-family: "elektra_light_proregular";
  font-style: normal;
  font-size: 25px;
  color: #728da6;
  vertical-align: top; }

.phone-code {
  vertical-align: top;
  font-size: 15px;
  font-family: "elektra_light_probold";
  margin-right: 10px;
  color: #00b9fe; }

.mail-link {
  font-family: "elektra_light_proregular";
  font-size: 18px;
  color: #613993; }

.mail-link:hover {
  text-decoration: underline; }

/*___________________________________________________________________________*/
.b-sidebar {
  float: left;
  width: 230px; }

.b-content {
  float: right;
  width: 740px; }

/*main navigation ____________________________________________________________*/
.b-main-nav {
  width: 230px;
  margin-bottom: 30px; }

.b-main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-main-nav__list-item-link {
  font-family: "elektra_light_proregular";
  font-size: 15px;
  color: #5c7b98;
  text-decoration: none;
  display: block;
  /*width: 210px;*/
  background-color: #f7f7f7;
  border-bottom: 1px solid #dce6f0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1px;
  padding-left: 20px; }

.b-main-nav__list-item-link.active {
  background-color: #00b9fe;
  color: #fff; }

.b-main-nav__list-item-link:hover {
  background-color: #dce6f0; }

.b-main-nav__list-item:last-child .b-main-nav__list-item-link {
  border-bottom: none; }

.b-main-nav-dropdown__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.b-main-nav-dropdown__list-item-link {
  font-family: "elektra_light_proregular";
  font-size: 15px;
  color: #5c7b98;
  text-decoration: none;
  display: block;
  /*width: 210px;*/
  background-color: #f7f7f7;
  border-bottom: 1px solid #dce6f0;
  padding-top: 6px;
  padding-left: 19px;
  padding-bottom: 5px;
  margin-bottom: 1px; }

.b-main-nav-dropdown__list-item-link:before {
  content: ">";
  font-family: "elektra_light_probold";
  margin-right: 5px;
  display: inline-block;
  float: left;
  height: 30px; }

.b-main-nav-dropdown__list-item-link:hover {
  background-color: #dce6f0; }

/*footer______________________________________________________________________*/
.b-footer-container {
  background: #714d9e url("../img/f-bg.png"); }

.b-footer {
  position: relative; }

.b-footer__logo {
  position: absolute;
  top: 100px;
  left: 0px; }

.b-footer__logo-link {
  text-decoration: none; }

.b-footer__links-list {
  position: absolute;
  top: 62px;
  left: 259px;
  font-family: "elektra_light_probold";
  font-size: 15px;
  color: #fff; }

.b-footer__links-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin-right: 65px; }

.b-footer__links-item.header {
  margin-bottom: 8px; }

.b-footer__links-item {
  margin-bottom: 7px; }

.b-footer__links-item-href {
  color: #fff;
  font-family: "elektra_light_proregular"; }

.b-footer__links-item-href:hover {
  text-decoration: none; }

.b-footer-socials {
  position: absolute;
  top: 75px;
  left: 813px;
  width: 200px; }

.b-footer-socials__link {
  display: inline-block;
  margin-bottom: 22px;
  text-decoration: none; }

.vk, .fb, .tw {
  margin-right: 5px; }

/* arrow up_____________________________________________________________________*/
.b-arrow-up {
  position: fixed;
  right: 3%;
  bottom: 45%; }

.b-arrow-up__link {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "elektra_light_probold";
  font-size: 18px;
  color: #fff;
  background-color: #00b9fe;
  padding: 8px;
  width: 63px; }

.b-arrow-up__link:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 5px solid #00b9fe;
  top: -9px;
  left: 34px; }

.b-arrow-up__link:after {
  content: "";
  position: absolute;
  left: 35px;
  top: 0px;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff; }

/* page content _____________________________________________________________________________*/
.b-page-content-container {
  min-width: 1200px;
  margin: 0 auto; }

.b-page-content {
  width: 1000px;
  margin: 0 auto; }

/* goods-list __________________________________________________________________*/
.b-goods-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-goods-list__item {
  margin-bottom: 20px;
  width: 740px;
  min-height: 158px;
  margin-right: 21px;
  display: inline-block;
  border: 1px solid #dbe1eb;
  vertical-align: top; }

.b-goods-list__item:last-child {
  margin-bottom: 35px; }

.goods__item-pref {
  margin-left: 15px; }

.goods__item-pref__line {
  display: inline-block;
  margin-right: 2px; }

.goods__item-pref-label, .goods__item-pref-data {
  display: inline-block; }

.b-goods-list__item:hover {
  box-shadow: 0px 0px 10px #dbe1eb;
  cursor: pointer; }

.b-goods-list__item-foto {
  text-align: center;
  height: 140px;
  width: 160px;
  display: inline-block;
  margin-left: 30px;
  position: relative; }

.b-goods-list__item-foto-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.b-goods-list__item-content {
  display: inline-block;
  font-family: "elektra_light_proregular";
  vertical-align: top;
  padding-top: 30px;
  width: 530px; }

.b-goods-list__item-content-header {
  font-size: 15px;
  margin-bottom: 16px;
  padding-left: 10px; }

.b-goods-list__item-content-header-link {
  color: #00b9fe; }

.b-goods-list__item-content-text {
  font-size: 14px;
  color: #5c7b98;
  margin-bottom: 10px; }

.b-goods-list.grid .b-goods-list__item-content {
  width: 215px; }

.b-goods-list.grid .goods__item-pref-label, .b-goods-list.grid .goods__item-pref-data {
  display: table-cell;
  padding-right: 30px; }

.b-goods-list.grid .goods__item-pref__line {
  display: table-row; }

.b-goods-list.grid .goods__item-pref {
  display: table; }

.b-goods-list.grid .b-goods-list__item {
  width: 220px; }

/* shop-info____________________________________________________________*/
.b-shop-info {
  color: #5c7b98;
  margin-bottom: 89px; }

.b-shop-info__header {
  font-family: "elektra_light_probold";
  font-size: 25px;
  margin-bottom: 10px; }

.b-shop-info__content {
  font-family: "elektra_light_proregular";
  font-size: 15px; }

.b-shop-info__content p {
  margin-top: 0px;
  margin-bottom: 30px; }
