extends _layout

block title
 title ЭпплShop

block header
 include _common/_header
 

block breadcrumbs
 include _common/_breadcrumbs

block sidebar
 include _common/_sidebar

block content 
 include _common/_content

block footer
 include _common/_footer